#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  vertical-align: 'center';
  align-content: 'center';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000; 
  background-color: rgba(255, 255, 255, 0.85);  
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

.invert {
  filter: invert(1);
  cursor: pointer;
}

.transparent {
  background-color: transparent;  
  border: none;
  padding: 10px;
}